<router-outlet></router-outlet>

<div id="wrapper">

<div id="header">
<h1>Bicycle Marketplace</h1>
  browse works! {{userID}}
<a [routerLink]="['/browse']">Browse</a> | <a [routerLink]="['/mybikes']">My Listings</a> |<a (click)="logOut()">Logout</a>

</div>


<div class="bikeCard" *ngFor="let b of bikesList">
<img src="" alt="Bike Photo">
<h2>{{b.title}}</h2>
<p>{{b.description}}</p>
<h3>${{b.price}}</h3>
<p>{{b.location.city}},{{b.location.state}}</p>
<p>Contact: {{b._owner.firstName}} at {{b._owner.email}}</p>
</div>


</div>
